body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("v1015-104a.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

h1 {
  color: #1b335f;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1b335f;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background-color: #ffb6b9;

  padding: 20px;
  border: 1px solid #ffb6b9;
  border-radius: 10px;
  opacity: 0.8;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  text-decoration: none;
  color: #1b335f;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  color: rgb(135, 135, 135);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #1b335f;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature.min {
  opacity: 0.5;
}
